table, th, td {
  border: 1px solid gray;
  padding: .5rem;
  border-collapse: collapse;
}

th { 
    text-align: right;
}

td { 
    text-align: center;
}

#channel-list li { 
  list-style-type: none;
  margin-left: -1rem;
}

#channel-list a { 
  padding: 0 .5rem;
  white-space: nowrap;
} 