#audio_table td, #audio_table th { 
    vertical-align: top; 
    text-align: left;
    border: 1px solid #eee;
}

#audio_table {
    border: 1px solid #eee;
    width: 100%;
}

#audio_table a.button { 
    background: #aaa;
    padding: 1px 3px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
}

#audio_table a.button.disabled { 
    background: white;
    padding: 1px 3px;
    opacity: 5;
    font-weight: bold;
    color: white;
}