#audio_table td, #audio_table th { 
    vertical-align: top; 
    text-align: left;
    border: 1px solid #eee;
}

#audio_table {
    border: 1px solid #eee;

}

audio::-webkit-media-controls-panel { 
    border-radius: 0px;
    padding: 0;
    margin: 0;
    background: grey;
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button  { 
    height: 10px;
    width: 10px;
    font-weight: normal;
}


audio::-webkit-media-controls-timeline-container { 
    background: orange;
    
}

audio::-webkit-media-controls-current-time-display { 
    background: orange;
    
}

audio::-webkit-media-controls-time-remaining-display { 
    background: orange;
    
}

audio::-webkit-media-controls-timeline { 
    background: red;
    max-height: 5px;
    height: 5px; 
    line-height: 5px;
    
}

audio::-webkit-media-controls-volume-slider-container { 
    background: green;
    max-height: 5px;
    height: 5px; 
    line-height: 5px;
}

audio::-webkit-media-controls-volume-slider { 
    background: green;
    max-height: 5px;
    height: 5px; 
    line-height: 5px;
}

audio::-webkit-media-controls-seek-back-button { 
    background: green;
    max-height: 5px;
    height: 5px; 
    line-height: 5px;
}

audio::-webkit-media-controls-seek-forward-button { 
    background: green;
    max-height: 5px;
    height: 5px; 
    line-height: 5px;
}

audio::-webkit-media-controls-fullscreen-button { 
    background: green;
    max-height: 5px;
    height: 5px; 
    line-height: 5px;
}

audio::-webkit-media-controls-rewind-button { 
    background: green;
    max-height: 5px;
    height: 5px; 
    line-height: 5px;
}

audio::-webkit-media-controls-return-to-realtime-button { 
    background: green;
    max-height: 5px;
    height: 5px; 
    line-height: 5px;
}

audio::-webkit-media-controls-toggle-closed-captions-button { 
    background: green;
    max-height: 5px;
    height: 5px; 
    line-height: 5px;
}