.thumbnail-container img { 
    height: 100px;
}

.thumbnail-container { 
    width: 100px;
    text-align: center;

    display: inline-block;
    margin-right: 1rem;
    padding-top: 4px;
    padding-bottom: 4px;

    border-right: 2px solid #eee;
}


div.book-container { 
    display: inline-block; 
    vertical-align: top;
    width: calc(95% - 100px);
}

div.book-container h4 {
    margin: 0;
    margin-bottom: .5rem; 
}

div.author { 
    /* font-style: italic; */
    color: #666;
}

/* p.review { 
    color: #666;
} */

@media (max-width: 500px) { 
    .thumbnail-container { 
        border-right: none;
        width: 100%;
    }

    .thumbnail-container img { 
        height: 150px;
    }

    div.book-container { 
        width: 100%;
    }

    div.book-container h4 { 
        margin-top: 1rem;
    }
}