.thumbnail-container>img { 
    height: 100px;
}


.thumbnail-container { 
    width: 100px;
    text-align: center;

    display: inline-block;
    margin-right: 1rem;
    padding-top: 4px;
    padding-bottom: 4px;

    /* border-right: 2px solid #eee; */
}



div.book-container { 
    display: inline-block; 
    vertical-align: top;
    width: calc(95% - 100px);
    /* border-top: 1px #eee solid; */
}

.course-thumbnail-container { 
    width: 200px;
}
div.course-container { 
    width: calc(95% - 200px);
}


div.book-container h4 {
    margin: 0;
}

div.author { 
    /* font-style: italic; */
    color: #666;
    
}

span.reviewDate { 
    font-size: smaller; 
    color: #979595;
}

div.rating { 
    margin-top: .5rem;
    margin-bottom: -.5rem;
    color: rgb(255, 196, 0);
}




div.question { 
    padding-top: 1rem;
    padding-bottom: .5rem;
    line-height: 1.5rem;
}

div.answer { 
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(74 103 251);
    line-height: 1.5rem;
}

div.review { 
    color: #000000;
    padding-bottom: 1rem;
}

div ol, 
div ul { 
    margin-top: .5rem;
    margin-left: -1rem;
    line-height: 1.5rem;
}

div ol li, 
div ul li { 
    margin: 0; 
    padding: 0;
}


.review li { 
    padding: .1rem 0;
}

.review>ul>li{ 
    list-style-type: square;
    padding: .5rem 0;
}



div.black { 
    color: #666;
}
img.icon { 
    width: auto !important;
    height: 20px;
    margin: 0; 
    padding: 0;

    vertical-align: bottom;
}


@media (max-width: 500px) { 
    .thumbnail-container { 
        border-right: none;
        width: 100%;
    }

    .thumbnail-container>img { 
        height: 150px;
    }

    div.book-container { 
        width: 100%;
    }

    div.book-container h4 { 
        margin-top: 1rem;
    }

    div ol, 
    div ul { 
        margin-top: .5rem;
        margin-left: 0;
        line-height: 1.5rem;
    }

    div.question, 
    div.answer { 
        padding-left: 0; 
        padding-right: 0; 
        margin-left: 0; 
        margin-right: 0;
    }

}