
.box  {
    margin: 1rem;
    box-shadow: 3px 3px 3px #888888;
    border-radius: 10px 10px 0 0 ;
    background-color: white;
    line-height: 1.5rem;
}

section.box div.box-exercise { 
    padding: 1rem 2rem; 
    font-size: .9rem;

    animation: 1500ms fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}



.box h1 {
    background: #ddd;
    border-radius: 10px 10px 0 0 ;
    margin: 0;
    margin-bottom: -.5rem;
    padding: .2rem 1rem;
    font-weight: normal;
    box-shadow: 0px 3px 3px #bbb;
    font-size: 20px;
}

.box-content {
    padding: 1rem;
    font-size: 14px;

    animation: 1000ms fadeIn;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.box-content h3 { 
    font-size: 14px; 
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.box-content p { 
    line-height: 24px;
}

.box-content p a:hover {
    color: rgb(255, 123, 0);
}

.box > a {
    border-style: solid;
    border-color: #fc5;
    display: inline-block;
    width: 30%;
    max-height: 13rem;
    margin: .5rem;
    vertical-align: top;
    margin-bottom: 1rem;
    margin-left: 5%;
    box-shadow: 3px 3px 3px grey;
    border-radius: 10px;
    background-color: #eee;
}

.box > a:hover {
    border-color: #fa5;
    opacity: .8;
}



@media (max-width: 500px) { 
    section.box div.box-exercise { 
        padding: 1rem;
    }
}