/********************************************
                House
*********************************************/

.note { 
    color: gray;
    padding-top: .5rem;
}


.levelNav { 
	padding-top: .5rem;
	font-weight: bold;
	font-size: 16px;
    font-family: Candara, Arial, Sans-Serif;


	overflow: auto hidden;
	white-space: nowrap;
}

.levelNav button, 
.levelNav a { 
	padding: .8rem;
    border-radius: 4px;
    background: white;
	font-size: 14px;
}


.levelNav button { 
    border: rgb(255, 196, 0) 1px solid;
	color: #666;
}
.levelNav button:hover { 
    color: rgb(255, 196, 0);
    border: grey 1px solid;
}

.levelNav button.active, 
.levelNav button.active:hover { 
	/* border-bottom: 4px solid rgb(255, 196, 0); */
    background: rgb(255, 196, 0);
    border: white 1px solid;
	color: #666;
}


/********************************************
                 Car
*********************************************/
#car span.description { 
    display: inline-block;
    width: 270px;
    vertical-align: top;
}

#car span.slideshow { 
    display: inline-block;
    background: grey; 
    width: calc(100% - 280px) ;
    vertical-align: top;
}

#car span.slideshow h3,
#car span.slideshow p {
    margin: .5rem;
    margin-top: 1rem; 
    padding-top: 0; 
    color: white;
}

#car span.slideshow img { 
    width: 100%;
    margin-bottom: 1rem;
}

#car td#previous, #car td#next { 
    width: 50px; 
    background: #aaa; 
    font-size: 50px;
    vertical-align: middle;
    color: white;
}

#car td#previous:hover, 
#car td#next:hover { 
    background: #ccc;
}


#car table,
#car table tr,
#car table td { 
    border: none;
}



@media (max-width: 700px) { 
    #car span.description,
    #car span.slideshow { 
        width: 100%;
    }
}