.red { 
    color: rgba(255, 0, 0, 0.599);
}
.blue { 
    color: rgba(0, 0, 255, 0.56);
}
.green { 
    color: rgb(59, 194, 59);
}
.orange { 
    color: orange;
    font-weight: bold;
}

.grey {
    color: grey;
}


.hollow { 
    color: white; 
    text-shadow: -2px 0 gray, 0 2px gray, 2px 0 gray, 0 -2px gray;
}
.minions { 
    color: rgb(255, 242, 0); 
    font-weight: bold;
    text-shadow: -2px 0 rgb(150, 150, 240), 0 2px rgb(142, 142, 255), 2px 0 rgb(116, 116, 235), 0 -2px blue;
}



highlight, .highlight { 
    background: yellow; 
}

.squiggly {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.bg-grey, .bg-grey:hover { 
    background-color: #ddd;
}