.box-content p { 
    font-size: 10rem;
    line-height: normal;
    font-weight: bold;
    font-family: "Apple Chancery", cursive, sans-serif;

    animation: 500ms fadeIn;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
    visibility: hidden;
    text-align: center;
}

.box-content p span.changeColorAnimation { 
    animation: 2000ms changeColor;
    animation-delay: 700ms;
}

.box-content p span.moveAnimation { 
    animation: 2000ms move;
    animation-delay: 2700ms;
}

.box-content p span.spinAnimation { 
    display: block;
    animation: 1000ms spin;
    animation-delay: 3700ms;
}