.box-content p { 
    font-size: 10rem;
    line-height: normal;
    font-weight: bold;
    font-family: "Apple Chancery", cursive, sans-serif;

    animation: 1500ms fadeIn;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
    visibility: hidden;
    text-align: center;
}

.box-content p span.changeColorAnimation { 
    animation: 3500ms changeColor;
    animation-delay: 1000ms;
}

.box-content p span.moveAnimation { 
    animation: 4000ms move;
    animation-delay: 4500ms;
}

.box-content p span.spinAnimation { 
    display: block;
    animation: 2000ms spin;
    animation-delay: 6500ms;
}