.note { 
    color: rgb(123, 123, 245);
    padding-top: .5rem;
}


.levelNav { 
	padding-top: .5rem;
	font-weight: bold;
	font-size: 15px;
    font-family: Candara, Arial, Sans-Serif;


	overflow: auto hidden;
	white-space: nowrap;
}

.levelNav button, 
.levelNav a { 
	padding: .8rem;
    border-radius: 4px;
    background: white;
	/* padding-bottom: .2rem;  */
}


.levelNav button { 
    border: rgb(255, 196, 0) 1px solid;
	color: #888;
}
.levelNav button:hover { 
    color: rgb(255, 196, 0);
    border: grey 1px solid;
}

.levelNav button.active, 
.levelNav button.active:hover { 
	/* border-bottom: 4px solid rgb(255, 196, 0); */
    background: rgb(255, 196, 0);
    border: white 1px solid;
	color: #666;
}
