div.row > div { 
    width: 450px;;
    display: inline-block;
}


#favourite-switch { 
    text-align: center;
}

#favourite-switch span { 
    border: 1px solid none; 
    border-radius: 4px;
    padding: 1rem;
    display: inline-block;
    margin: .5rem 0;
}

.myPrice { 
    font-size: x-small;
}

.linear { 
    background: rgb(255, 234, 234);
    box-shadow: 2px 2px 2px rgb(134, 134, 134);
}

.tactile { 
    background: rgb(237, 221, 207);
    box-shadow: 2px 2px 2px rgb(134, 134, 134);
    
}   

.clicky { 
    background: rgb(231, 238, 255);
    box-shadow: 2px 2px 2px rgb(134, 134, 134);
}

.membrane {
    background: rgb(255, 245, 232);
    box-shadow: 2px 2px 2px rgb(134, 134, 134);
}

.mecha { 
    background: #ececec;
    box-shadow: 2px 2px 2px rgb(134, 134, 134);
}

.input-layout img { 
    width: 450px;
}


.keyboard-thumbnail-container { 
    width: 200px;
}
div.keyboard-container { 
    width: calc(95% - 200px);
    
}
div.keyboard-container div { 
    line-height: 1.5rem;
}


@media (max-width: 600px) { 

    .input-layout img { 
        width: 100%;
    }

    div.row div { 
        width: 100%;
    }

    .keyboard-thumbnail-container { 
        width: 100%;
        display: inline;
    }

    .keyboard-thumbnail-container img { 
        width: 100%;
        height: auto;
    }
    div.keyboard-container { 
        width: 100%;
    }
    
}