.meter { 
	margin: 0;
  height: 20px; 
  position: relative;
  border-radius: 8px;
	background: #eee;
  padding: 2px;
	box-shadow: inset 0 -2px 6px white;
	color: white;
	text-align: left;
}

.meter strong {
	position: absolute;
	top: .2rem;
	left: 45%;
}

.meter > span {
    display: block;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(255, 196, 0);
    background-image: linear-gradient(
      center bottom,
	  gold, orange
    );
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

div.date-info { 
  font-family: "Apple Chancery", sans-serif;
  font-size: 1.5rem;
}